
<section class ="index">
@{
    ViewData["Title"] = "Index";
}
<link rel ="stylesheet" href="css/Estilo.css">
 <header>
   <a  href='@Url.Action("Index", "Home")'> <img src="~/imagenes/Calabera.png"class= "calabera" alt=""></a>
 </header>

<img src="~/imagenes/logo_ecos_del_olvido-removebg-preview.png" alt="logo">

<div>
    <p>Bienvenido a una sala de escape en donde nunca escaparas</p>

    <ul>
        <li><a href= '@Url.Action("InicializarJuego", "Home")' alt = "Ir al "> Jugar</a></li>
         <li> <a href= '@Url.Action("IrATutorial", "Home")' alt = "Ir al "> Tutorial</a></li>
         <li><a href= '@Url.Action("IrACreditos", "Home")' alt = "Ir al "> Creditos</a></li>
         <li><a href= '@Url.Action("IrAPresentacion", "Home")' alt = "Ir al "> Presentacion</a></li>

</div>

</section>


