<section class="Sala1">

@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">

<header>
   <a class= "calabera" href='@Url.Action("Index", "Home")'> <img src="~/imagenes/Calabera.png" alt=""></a>


<h1> Habitacion </h1>
 </header>


<section class="cosoDelCodigoS1">
 <a href= '@Url.Action("IrACartaSala1", "Home")' alt = "foto Para Respuesta "> <img src="../imagenes/cosodecartasala1_2.png" alt="foto carta"></a>
</section>

<section class="Pista">

 <a href= '@Url.Action("DevolverPista", "Home" , new { TocoPista = true})' alt = "Pista ">  Pista</a>

<p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>
</section>

<section class="TocoCarta">
 <a href= '@Url.Action("CompararRespuesta", "Home" , new {tocoPreg = true})' alt = "acertijo "> aa </a>

<p>
@if( ViewBag.tocoPreg != null )
{

   <img src="../imagenes/CartaSala1.jpg" alt="Foto acertijo">
}
</section>
</p>



</section>